<%# BANNER %>
<section class="flex flex-col justify-center px-4 md:px-8 mx-auto max-w-8xl py-20 min-h-full md:min-h-screen">
  <h1 class="text-4xl h-56 md:text-5xl mt-10 lg:text-6xl max-w-3xl" data-controller="typed" data-typed-strings-value="<%= ["Hey👋 I'm Anthony.
      <br>
      I'm a junior software engineer passionate about creating solutions with code."].to_json %>"></h1>
      <div class="relative flex justify-center items-center md:absolute md:bottom-0 md:mb-16 md:left-0 md:right-0">
        <%= link_to "#about-me" do %>
          <i class="icon-caret-right"></i>
          <img src="<%=asset_path("down-icon.svg")%>" class="animate-pulse h-8 w-auto md:mt-0">
        <% end %>
      </div>
</section>

<%# ABOUT ME %>
<div class="py-20 bg-teal-900" id="about-me">
  <%= render 'shared/container' do %>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-16">
      <img src="<%=asset_path("Anthony_Marion_profile-min.jpg")%>" alt="Profile Image" class="w-32 h-auto col-span-1 mb-8 rounded-sm transform -rotate-3 shadow-lg">
      <div class="col-span-2">
        <p class="text-teal-300 text-sm font-mono uppercase tracking-wider mb-2">But first</p>
        <h3 class="text-4xl mb-4 text-white font-sans">A bit of background</h3>
        <div class="space-y-4">
          <p class="lg:my-0 lg:mt-4 text-md font-light text-teal-50/80 leading-relaxed text-justify">I started my career in ecommerce and marketing, helping small business build their online presence and grow their customer base. Throughout my roles, I worked closely with software developers. I saw the power of technology in driving the bottom-line and increasing conversions and became fascinated by the world of coding.</p>
          <p class="lg:my-0 lg:mt-4 text-md font-light text-teal-50/80 leading-relaxed text-justify">I realised that by coding I could have an even greater impact on the businesses I worked with. So I decided to take the leap and transition my career to become a software engineer. I enrolled in a  coding bootcamp and dedicated every spare moment to learning and practicing my new skills.</p>
          <p class="lg:my-0 lg:mt-4 text-md font-light text-teal-50/80 leading-relaxed text-justify">And now I look to fuse my e-Commerce expertise with my new coding skills to create solutions that help businesses thrive in the digital world.</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# EXPERIENCE %>
<section class="pt-20">
  <%= render 'shared/container' do %>
    <h3 class="text-4xl mb-4 text-black font-sans">Experience and education</h3>
    <p class="lg:my-0 lg:mt-4 text-md text-gray-500 leading-relaxed text-justify">I have spent a number of years in the front-line trenches of digital marketing and e-Commerce. It's here I built my skills and earned myself some pieces of 'paper' along the way.</p>

    <div class="my-8">
      <p class="text-xl tracking-tight font-medium mb-2 text-black">Work</p>
      <div class="divide-y divide-gray-300">
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2020 - 2022</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">e-Commerce Manager</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">UGT International</p>
        </div>
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2019 - 2020</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">e-Commerce Assistant</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">UGT International</p>
        </div>
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2015 - 2019</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">Digital Marketing & e-Commerce Assistant</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">SimCorner</p>
        </div>
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2011 - 2014</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">Founder</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">Mister Brady & Co.</p>
        </div>
      </div>
    </div>

    <div class="my-8">
      <p class="text-xl tracking-tight font-medium mb-2 text-black">School</p>
      <div class="divide-y divide-gray-300">
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2023</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">Web Development Bootcamp</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">Le Wagon Melbourne</p>
        </div>
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2012</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">Graduate Diploma of Maketing</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">Swinburne University of Technology</p>
        </div>
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2011</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">Bachelor Of Business</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">Swinburne University of Technology</p>
        </div>
      </div>
    </div>
  <% end %>
</section>

<%# TECH STACK %>
<section class="py-10" id="tech">
  <div class="mx-auto md:max-w-5xl">
    <div class="bg-slate-900 md:rounded-sm px-4 md:px-8 py-10">
      <h3 class="text-sm tracking-tight font-base mb-8 text-slate-500 text-center">Technologies I use</h3>
      <div class="text-teal-300 grid grid-cols-3 md:grid-cols-6 gap-8 max-w-2xl mx-auto">
        <div>
          <img src="<%=asset_path("aws.svg")%>" alt="AWS-logo" class="transform hover:scale-75 transition duration-600 object-cover pt-4 px-4">
          <p class="text-sm tracking-tight font-base pt-4 text-slate-500 text-center">AWS</p>
        </div>

        <div>
          <img src="<%=asset_path("css3.svg")%>" alt="CSS-logo" class="transform hover:scale-75 transition duration-600 object-cover pt-4 px-4">
          <p class="text-sm tracking-tight font-base pt-4 text-slate-500 text-center">CSS</p>
        </div>

        <div>
          <img src="<%=asset_path("html5.svg")%>" alt="HTML-logo" class="transform hover:scale-75 transition duration-600 object-cover pt-4 px-4">
          <p class="text-sm tracking-tight font-base pt-4 text-slate-500 text-center">HTML</p>
        </div>

        <div>
          <img src="<%=asset_path("react.svg")%>" alt="React-logo" class="transform hover:scale-75 transition duration-600 object-cover pt-4 px-4">
          <p class="text-sm tracking-tight font-base pt-4 text-slate-500 text-center">React</p>
        </div>

        <div>
          <img src="<%=asset_path("ruby.svg")%>" alt="Ruby-logo" class="transform hover:scale-75 transition duration-600 object-cover pt-4 px-4">
          <p class="text-sm tracking-tight font-base pt-4 text-slate-500 text-center">Ruby</p>
        </div>

        <div>
          <img "JS" src="<%=asset_path("javascript_1.svg")%>" alt="JS-logo" class="object-cover pt-4 px-4 transform hover:scale-75 transition duration-600">
          <p class="text-sm tracking-tight font-base pt-4 text-slate-500 text-center">Javascript</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%# PORTFOLIO %>
<section class="mx-auto max-w-5xl px-4 md:px-8py-20 min-h-96 md:min-h-screen py-10" id="portfolio">
  <h3 class="text-4xl mb-4 text-black font-sans mb-8">Projects I've been working on</h3>
  <div class="content">

    <%# ON-BOARD %>
    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="content">
        <p class="text-teal-300 text-sm font-mono uppercase tracking-wider mb-2">Fullstack Web App</p>
        <p class="text-md leading-relaxed text-black text-justify text-xl font-bold capitalize mb-2">on board</p>
        <p class="text-gray-500 text-sm leading-relaxed text-justify font-light mb-4">Ruby On Rails - JavaScript - Tailwind - Heroku</p>
        <p class="text-md text-gray-500 leading-relaxed text-justify font-light">A new app that lets New Caledonian boat owners rent out their boats to tourists who are keen to take part in a range of exciting activities, including surfing, fishing, snorkeling, and more. With the ability to book directly through the app, tourists can easily find the perfect boat to suit their needs, and take to the crystal-clear waters of New Caledonia's pristine lagoon.
        </p>
        <p class="mt-4 text-md text-gray-500 leading-relaxed text-justify font-light">Optimised for desktop.</p>
        <a class="clickable-icon fa-brands fa-github mt-2" href="https://github.com/JohanBinst/on-board" target="_blank"></a>
      </div>

      <div class="image">
        <%= link_to image_tag(asset_path("On_board_hero.png"), class:"object-cover shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] rounded-lg", alt: "On Board"), "https://feeling-blue.herokuapp.com/", target: "_blank" %>
      </div>
    </div>
    <hr class="mt-8">
    <%# ANTHONY PROFILE %>
    <div class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="content">
        <p class="text-teal-300 text-sm font-mono uppercase tracking-wider mb-2">Design & Development</p>
        <p class="text-md leading-relaxed text-black text-justify text-xl font-bold mb-2">My portfolio</p>
        <p class="text-gray-500 text-sm leading-relaxed text-justify font-light mb-4">Ruby On Rails - JavaScript - Tailwind - SCSS</p>
        <p class="text-md text-gray-500 leading-relaxed text-justify font-light">My portfolio website showcases my coding projects and demonstrates my skills and experience as a developer. It's built using Ruby on Rails, Tailwind CSS and JavaScript.</p>
        </p>
        <a class="clickable-icon fa-brands fa-github mt-2" href="https://github.com/AntcMan/ANTHONY-COM" target="_blank"></a>
      </div>

      <div class="image">
        <%= link_to image_tag(asset_path("Anthony_profile_website.png"), class:"shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] object-cover rounded-lg", alt: "Anthony Marion Profile"), "https://github.com/AntcMan/ANTHONY-COM", target: "_blank" %>
      </div>
    </div>
  </div>
</section>

<%# CONTACT %>
<section class="bg-teal-900" id="contact-anthony">
  <%= render 'shared/container' do %>
    <div class="contact-content mt-20 pt-20 pb-20">
      <h3 class="text-4xl mb-4 text-white font-sans">One last thing...</h3>
      <p class="lg:my-0 lg:mt-4 text-md font-light text-teal-50/80 leading-relaxed text-justify">If you'd like to chat about opportunities, projects or just want to say hello - I'm always down to talk.</p>
      <br>
      <br>
      <h3><a href="mailto:anthonycmarion@gmail.com" target="_blank" class="bg-gray-900 text-white hover:text-white hover:bg-black py-2 px-5 rounded-sm'">
        Shoot me a message
      </a></h3>
    </div>
  <% end %>
</section>

<section class="bg-teal-900" id="contact-anthony">
  <h1>Contact us</h1>
<p>Send us an email and we will be in touch shortly</p>

<%= form_for :contact, url: contact_index_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :email %>
  <%= f.text_field :email %><br/>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <%= f.submit %>
<% end %>

</section>
