<%# BANNER %>
<section class="flex flex-col justify-center px-4 md:px-8 mx-auto max-w-8xl py-20 min-h-96 md:min-h-screen">
  <h1 class="text-4xl h-56 md:text-5xl lg:text-6xl max-w-3xl" data-controller="typed" data-typed-strings-value="<%= ["Hey👋 I'm Anthony.
      <br>
      I'm a junior software engineer passionate about creating solutions with code."].to_json %>"></h1>
</section>

<%# ABOUT ME %>
<div class="py-20 bg-teal-900">
  <%= render 'shared/container' do %>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-16">
      <img src="<%=asset_path("Anthony_Marion_profile-min.jpg")%>" alt="Profile Image" class="w-32 h-auto col-span-1 mb-8 rounded-sm transform -rotate-3 shadow-lg">
      <div class="col-span-2">
        <p class="text-teal-300 text-sm font-mono uppercase tracking-wider mb-2">But first</p>
        <h3 class="text-4xl mb-4 text-white font-sans">A bit of background</h3>
        <div class="space-y-4">
          <p class="lg:my-0 lg:mt-4 text-md font-light text-teal-50/80 leading-relaxed text-justify">I started my career in ecommerce and marketing, helping small business build their online presence and grow their customer base. Throughout my roles, I worked closely with software developers. I saw the power of technology in driving the bottom-line and increasing conversions and became fascinated by the world of coding.</p>
          <p class="lg:my-0 lg:mt-4 text-md font-light text-teal-50/80 leading-relaxed text-justify">I realised that by coding I could have an even greater impact on the businesses I worked with. So I decided to take the leap and transition my career to become a software engineer. I enrolled in a  coding bootcamp and dedicated every spare moment to learning and practicing my new skills.</p>
          <p class="lg:my-0 lg:mt-4 text-md font-light text-teal-50/80 leading-relaxed text-justify">And now I look to fuse my e-Commerce expertise with my new coding skills to create solutions that help businesses thrive in the digital world.</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# EXPERIENCE %>
<section class="pt-20 pb-10">
  <%= render 'shared/container' do %>
    <h3 class="text-4xl mb-4 text-black font-sans">Experience and education</h3>
    <p class="lg:my-0 lg:mt-4 text-md text-gray-500 leading-relaxed text-justify">I have spent a number of years in the front-line trenches of digital marketing and e-Commerce. It's here I built my skills and earned myself some pieces of 'paper' along the way.</p>
    
    <h3 class="text-xl tracking-tight font-medium mt-8 text-black">Work</h3>
    <div class="mt-4 flow-root">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full rounded-sm overflow-hidden">
            <thead class="bg-teal-200">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-medium text-teal-900">Company</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-teal-900">Role</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-teal-900">Years</th>
              </tr>
            </thead>
            <tbody class=" bg-white">
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full border border-gray-200" src="https://media.licdn.com/dms/image/C560BAQGxDEMx6hPQ2Q/company-logo_200_200/0/1637633732172?e=2147483647&v=beta&t=zgewH8MfGNkz7tkRLYj8b3Bt3nfyjbPyEerGVb2hT-Y" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900">UGT International</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-gray-900">Product Manager</div>
                  <div class="text-teal-500">e-Commerce</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  2020 - 2022
                  <%# <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Active</span> %>
                </td>
              </tr>

              <tr class="bg-slate-50">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full border border-gray-200" src="https://media.licdn.com/dms/image/C560BAQGxDEMx6hPQ2Q/company-logo_200_200/0/1637633732172?e=2147483647&v=beta&t=zgewH8MfGNkz7tkRLYj8b3Bt3nfyjbPyEerGVb2hT-Y" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900">UGT International</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-gray-900">Product Manager</div>
                  <div class="text-teal-500">e-Commerce</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  2020 - 2022
                  <%# <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Active</span> %>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full border border-gray-200" src="https://media.licdn.com/dms/image/C560BAQGxDEMx6hPQ2Q/company-logo_200_200/0/1637633732172?e=2147483647&v=beta&t=zgewH8MfGNkz7tkRLYj8b3Bt3nfyjbPyEerGVb2hT-Y" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900">UGT International</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-gray-900">Product Manager</div>
                  <div class="text-teal-500">e-Commerce</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  2020 - 2022
                  <%# <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Active</span> %>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <h3 class="text-xl tracking-tight font-medium mt-8 text-black">Work</h3>
    <div class="mt-4 flow-root">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full rounded-sm overflow-hidden border border-gray-900">
            <thead class="bg-slate-900">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-medium text-white">Company</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-white">Role</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-white">Years</th>
              </tr>
            </thead>
            <tbody class=" bg-white">
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full border border-gray-200" src="https://media.licdn.com/dms/image/C560BAQGxDEMx6hPQ2Q/company-logo_200_200/0/1637633732172?e=2147483647&v=beta&t=zgewH8MfGNkz7tkRLYj8b3Bt3nfyjbPyEerGVb2hT-Y" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900">UGT International</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-gray-900">Product Manager</div>
                  <div class="text-teal-500">e-Commerce</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  2020 - 2022
                  <%# <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Active</span> %>
                </td>
              </tr>

              <tr class="bg-slate-100">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full border border-gray-200" src="https://media.licdn.com/dms/image/C560BAQGxDEMx6hPQ2Q/company-logo_200_200/0/1637633732172?e=2147483647&v=beta&t=zgewH8MfGNkz7tkRLYj8b3Bt3nfyjbPyEerGVb2hT-Y" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900">UGT International</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-gray-900">Product Manager</div>
                  <div class="text-teal-500">e-Commerce</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  2020 - 2022
                  <%# <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Active</span> %>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full border border-gray-200" src="https://media.licdn.com/dms/image/C560BAQGxDEMx6hPQ2Q/company-logo_200_200/0/1637633732172?e=2147483647&v=beta&t=zgewH8MfGNkz7tkRLYj8b3Bt3nfyjbPyEerGVb2hT-Y" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900">UGT International</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-gray-900">Product Manager</div>
                  <div class="text-teal-500">e-Commerce</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  2020 - 2022
                  <%# <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Active</span> %>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="my-8">
      <p class="text-xl tracking-tight font-medium mb-2 text-black">Work</p>
      <div class="divide-y divide-gray-300">
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2020 - 2022</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">e-Commerce Manager</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">UGT International</p>
        </div>
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2019 - 2020</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">e-Commerce Assistant</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">UGT International</p>
        </div>
        <div class="py-4">
          <p class="font-mono text-teal-500 text-xs">2015 - 2019</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">Digital Marketing & e-Commerce Assistant</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">SimCorner</p>
        </div>
        <div class="py-4">
          <p class="text-gray-500">2011 - 2014</p>
          <p class="text-md text-black leading-relaxed text-justify font-medium">Founder</p>
          <p class="text-md text-gray-500 leading-relaxed text-justify font-light">Mister Brady & Co.</p>
        </div>
      </div>
    </div>
    
    <div class="content-experience border-solid border rounded-sm border-teal-900 my-8 overflow-hidden divider-y divider-teal-900">
      <p class="bg-teal-200 text-md font-mono uppercase tracking-wider p-2 mb-2 text-teal-900 text-center">Work</p>
      <div class="p-4">
        <p class="text-gray-500 font-light">2020 - 2022</p>
        <p class="text-md text-black leading-relaxed text-justify font-bold">e-Commerce Manager</p>
        <p class="text-md text-gray-500 leading-relaxed text-justify font-light">UGT International</p>
        <br>
        <p class="text-gray-500 font-light">2019 - 2020</p>
        <p class="text-md text-black leading-relaxed text-justify font-bold">e-Commerce Assistant</p>
        <p class="text-md text-gray-500 leading-relaxed text-justify font-light">UGT International</p>
        <br>
        <p class="text-gray-500 font-light">2015 - 2019</p>
        <p class="text-md text-black leading-relaxed text-justify font-bold">Digital Marketing & e-Commerce Assistant</p>
        <p class="text-md text-gray-500 leading-relaxed text-justify font-light">SimCorner</p>
        <br>
        <p class="text-gray-500">2011 - 2014</p>
        <p class="text-md text-black leading-relaxed text-justify font-bold">Founder</p>
        <p class="text-md text-gray-500 leading-relaxed text-justify font-light">Mister Brady & Co.</p>
      </div>
    </div>
    <div class="content-experience p-4 border-solid border rounded-sm border-teal-900">
      <p class="text-teal-300 text-md font-mono uppercase tracking-wider p-2 mb-2 bg-teal-900 text-center rounded-sm">School</p>
      <p class="text-gray-500">2023</p>
      <p class="text-md text-black leading-relaxed text-justify font-bold">Web Development Bootcamp</p>
      <p class="text-md text-gray-500 leading-relaxed text-justify">Le Wagon Melbourne</p>
      <br>

      <p class="text-gray-500">2012</p>
      <p class="text-md text-black leading-relaxed text-justify font-bold">Graduate Dipolma of Maketing</p>
      <p class="text-md text-gray-500 leading-relaxed text-justify">Swinburne University of Technology</p>
      <br>

      <p class="text-gray-500">2011</p>
      <p class="text-md text-black leading-relaxed text-justify font-bold">Bachelor Of Business(Finance)</p>
      <p class="text-md text-gray-500 leading-relaxed text-justify">Swinburne University of Technology</p>
      <br>

    </div>
  <% end %>
</section>

<%# TECH STACK %>
<section class="py-20" id="tech">
  <%= render 'shared/container' do %>
  <div class="tech-content">
    <h1 class="text-4xl mb-4 text-black font-sans">In my wheelhouse</h1>
  </div>
  <div class="flex flex-wrap items-center justify-center">
    <div class="flex justify-between w-full sm:w-auto">
      <img src="<%=asset_path("icons8-ruby-programming-language.svg")%>" alt="AWS-logo" class="object-cover pt-4 px-6">
      <img src="<%=asset_path("icons8-amazon-web-services.svg")%>" alt="AWS-logo" class="object-cover pt-4 px-6">
      <img src="<%=asset_path("icons8-css3.svg")%>" alt="CSS-logo" class="object-cover pt-4 px-6">
    </div>
    <div class="flex justify-between w-full sm:w-auto">
      <img src="<%=asset_path("icons8-html-5.svg")%>" alt="HTML5-logo" class="object-cover pt-4 px-6">
      <img src="<%=asset_path("icons8-javascript.svg")%>" alt="JS-logo" class="object-cover pt-4 px-6">
      <img src="<%=asset_path("icons8-react-native.svg")%>" alt="React-logo" class="object-cover pt-4 px-6">
    </div>
  </div>

  <% end %>
</section>

<%# PORTFOLIO %>
<section class="mx-auto max-w-5xl px-4 md:px-8py-20 min-h-96 md:min-h-screen py-10" id="portfolio">
  <h3 class="text-4xl mb-4 text-black font-sans mb-8">Projects I've been working on</h3>
  <div class="content">

    <%# ON-BOARD %>
    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="content">
        <p class="text-teal-300 text-sm font-mono uppercase tracking-wider mb-2">Fullstack Web App</p>
        <p class="text-md leading-relaxed text-black text-justify text-xl font-bold capitalize mb-2">on board</p>
        <p class="text-gray-500 text-sm leading-relaxed text-justify font-light mb-4">Ruby On Rails - JavaScript - Tailwind - Heroku</p>
        <p class="text-md text-gray-500 leading-relaxed text-justify font-light">A new web application designed to make the most of your boating experience in New Caledonia! Boat owners can now rent out their boats to tourists who are keen to take part in a range of exciting activities, including surfing, fishing, snorkeling, and more. With the ability to book directly through the app, tourists can easily find the perfect boat to suit their needs, and take to the crystal-clear waters of New Caledonia's pristine lagoon.
        </p>
        <p class="mt-4 text-md text-gray-500 leading-relaxed text-justify font-light">Optimised for desktop.</p>
        <a class="clickable-icon fa-brands fa-github mt-2" href="https://github.com/JohanBinst/on-board" target="_blank"></a>
      </div>

      <div class="image">
        <%= link_to image_tag(asset_path("On_board_hero.png"), class:"object-cover", alt: "On Board"), "https://feeling-blue.herokuapp.com/", target: "_blank" %>
      </div>
    </div>
    <hr class="mt-8">
    <%# ANTHONY PROFILE %>
    <div class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="content">
        <p class="text-teal-300 text-sm font-mono uppercase tracking-wider mb-2">Design & Development</p>
        <p class="text-md leading-relaxed text-black text-justify text-xl font-bold mb-2">My Portfolio</p>
        <p class="text-gray-500 text-sm leading-relaxed text-justify font-light mb-4">Ruby On Rails - JavaScript - Tailwind - SCSS</p>
        <p class="text-md text-gray-500 leading-relaxed text-justify font-light">My portfolio website showcases my coding projects and demonstrates my skills and experience as a developer. It's built using Ruby on Rails, Tailwind CSS and JavaScript.</p>
        </p>
        <a class="clickable-icon fa-brands fa-github mt-2" href="https://github.com/AntcMan/ANTHONY-COM" target="_blank"></a>
      </div>

      <div class="image">
        <%= link_to image_tag(asset_path("Anthony_profile_website.png"), class:"object-cover", alt: "Anthony Marion Profile"), "https://github.com/AntcMan/ANTHONY-COM", target: "_blank" %>
      </div>
    </div>
  </div>
</section>

<%# CONTACT %>
<section class="bg-teal-900" id="contact-anthony">
  <%= render 'shared/container' do %>
    <div class="contact-content pt-20 pb-20">
      <h3 class="text-4xl mb-4 text-white font-sans">One last thing...</h3>
      <p class="lg:my-0 lg:mt-4 text-md font-light text-teal-50/80 leading-relaxed text-justify">If you'd like to chat about opportunities, projects or just want to say hello - I'm always down to talk.</p>
      <br>
      <br>
      <h3><a href="mailto:anthonycmarion@gmail.com" target="_blank" class="bg-gray-900 text-white hover:text-white hover:bg-black py-2 px-5 rounded-sm'">
        Shoot me a message
      </a></h3>
    </div>
  <% end %>
</section>
