<!DOCTYPE html>
<html>
  <head>
    <title>Anthony Marion Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div>
        <%= yield %>
      </div>
    </div>
    <div class="fixed inset-x-0 bottom-0">
      <%= render "shared/footer" %>
    </div>
  </body>
